<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <!-- Remember that you will need to specify "Persist Security Info = True" in the connection strings if using SQL Server authentication. -->
    <add name="Source" 
         connectionString="
           server={source server}; 
           database={source DB};
           Trusted_Connection=True;
           multipleactiveresultsets=True"/>
    <add name="Destination" 
         connectionString="
           server={destination server}; 
           database={destination DB};
           Trusted_Connection=True;
           multipleactiveresultsets=True"/>
  </connectionStrings>
  <appSettings>
    <add key="BatchSize" value="1000" />
  </appSettings>
</configuration>